.main-faq-container {
    min-height: 80vh;
    overflow-y: visible;
    background-color: var(--branco_bg);
}

.faq {
    margin-bottom: 30px;
}

.faq__header {
    border-bottom: 1px solid var(--preto);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.faq__header i {
    font-size: 1em;
    transition: .5s ease;
}

.facing-down {
    transform: rotate(90deg);
}

.faq__header h3 {
    margin: 0;
    padding: 10px;
    color: var(--azul_titulos);
    font-size: 1.2em;
    font-family: var(--zenkaku);
}

.ler-mais {
    overflow: hidden;
    max-height: 0;
    border: 1px solid var(--preto);
    background-color: var(--branco);

    transition: max-height .5s ease-out;
}

.ler-mais p {
    margin: 0;
    padding: 10px;
    font-weight: lighter;
    font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
    .faq-container {
        width: calc(100vw - 200px);
        margin: 0 auto;
    }

    .faq__header h3 {
        font-size: 1.5em;
    }

    .ler-mais p {
        font-size: 1.6em;
    }
}

@media screen and (min-width: 1024px) {
    .faq-container {
        width: 940px;
    }

    .ler-mais p {
        font-size: 1.4em;
    }
}