.main-services-container {
    background-color: var(--branco_bg);
}

.primary-services-container {
    text-align: center;
}

.primary-services-container h2 {
    margin: 0;
    padding: 10px 0 20px;

    font-family: var(--zenkaku);
    font-size: 1.8em;
    text-align: center;

    color: var(--azul_titulos);
}

.services {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
}

.services label {
    width: 200px;
    height: 220px;
    padding: 20px 5px;
    margin: 5px;
    border-radius: 32px;

    background: linear-gradient(to right bottom, #c4971c 50%, var(--lilas_botoes) 100%);
    background-size: 200% 200%;
    background-position: right bottom;
    background-color: var(--lilas_botoes);

    color: var(--branco);
    font-size: 1.4em;
    font-weight: lighter;
    text-align: center;    
    text-decoration: none;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition-duration: .4s;
}

.services label > img {
    width: 70%;
    margin: 20px auto;
    display: block;
    transition-duration: .2s;
}

.services label:hover, .services [type="radio"]:checked + label {
    background-color: var(--lilas_botoes);
    background-position: top left;
    font-weight: bold;
}

.services label:hover > img, .services [type="radio"]:checked + label > img {
    width: 75%;
}

.primary-services-container h3 {
    font-family: var(--zenkaku);
    color: var(--azul_titulos);
}

#other-input {
    display: none;
}

#outro {
    margin: 10px auto 30px;
}

.second-services-container {
    margin-top: 15px;
}


.forms legend {
    font-size: 1.5em;
}

.forms label {
    display: block;
    font-size: 1.2em;
    margin: 20px 0 10px;
}

.checkboxes {
    border: none;
    padding: 0;
    margin: 0;
}

.checkboxes input {
    margin: 5px;
}

.service-button {
    border: none;
    margin: 20px 0;
}